*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
    --color-amo: #19366b;
}
header{
    display: flex;
    justify-content: center;
}
.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 1000px;
 height:80px;
}

header ul{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    color: var(--color-amo);
    font-size: 22px;
}
nav li{
    margin-left: 10px;
    margin-right: 10px;
}
ul a {
    text-decoration: none;
    color: var(--color-amo);
}
.header input{
    height: 30px;
    border-radius:20px;
    background-color:var(--color-amo);
}
.banner{
    height:calc(100vh - 80px);
    background-color: var(--color-amo);
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
    display: flex;
}
.banner .slider-area{
    width: 100vw;
    height: 100%;
}
.slider-area img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.banner .slider-pointers{
    position:absolute;
    width:100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top:-40px;
}
.banner .pointer{
    width:20px;
    height: 20px;
    border: 4px solid var(--color-amo);
    border-radius:10px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.banner .pointer.active{
    background-color: aquamarine;
}
.content{
    background-color: #f7f7f7;
    width: 100vw;
    display:flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom:50px;
}
.content-menu{
    text-transform:uppercase;
    text-align: center;
    width: 300px;
    height:200px;
    border-radius:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-bottom: 15px solid #f7f7f7;
}
.content-menu:hover{
    background-color: rgb(238, 236, 236);
}
.content-menu img{
    width:120px;
    height:100%;
}
.content-menu.medicos:hover{
    border-bottom:15px solid #4D78C7;
}
.content-menu.convenio:hover{
    border-bottom:15px solid #8F3679;
}
.content-menu.local:hover{
    border-bottom:15px solid #39B46A
}
.content-menu.exames:hover{
    border-bottom:15px solid #FF7F00;
}